// ============================================
//
// Header
//
// ============================================

.header {
	height: 20%;
	background: black;
	display: flex;

	// 4x3 grid - header on left
	@include media-aspect-ratio('ultrawide') {
		height: 100%;
		width: 25%;
		float: left;
	}
}

.header-headline {
	margin: 0;
	color: #fff;
	font-size: 4vh;
	font-weight: 400;
	align-self: center;
	margin-left: 4vw;

	// 4x3 grid - header on left
	@include media-aspect-ratio('ultrawide') {
		font-size: 3vw;
		align-self: start;
		margin-top: 4vw;
	}
}
